//WideScreens

@include mediaXl {
}

//Desktops and Laptops

@include mediaLg {
}

//Tablets and Small Laptops

@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1.5rem;
      font-size: 15px;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .potrait {
      width: 150px;
      height: 150px;
      background: url(../img/classygogosmall.jpg);
    }
  }

  .menu {
    opacity: 0.96;
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1";

    grid-template-columns: 1fr;

    .bio-image {
      margin: auto;
    }
  }
}

//Smartphones

@include mediaSm {
  body {
    background-position: 50% 40% !important;

    &:after {
      background: rgba($primary-color, 0.6) !important;
    }
  }
  main {
    h1 {
      font-size: 5rem !important;
    }
  }

  .about-info {
    .bio-image {
      margin: auto;
      width: 320px;
      height: 200px;
    }
  }
}
